#home_main_header{
    width: 100%;
    height: 25px;
    background: #ccc;
}
#home_main_header>span{
    margin:0 350px;
}
#home_main_top>img{
    margin:0 150px 0 300px;
    display: inline-block; 
}
#home_main_top span{
    position: relative;
    top: -30px;
    display: inline-block;
    width: 120px;
    color: red;
}
#home_main_top{
    height: 131px;
}
#home_main_top>.search{
    position: relative;
    width: 200px;
    height: 80px;
    top: -90px;
    left:1300px;
    color: blue;
    font-family:'微软简行楷';
    font-size: 20px;
}
input[type=search]{
    font-size: 14px;
    width: 170px;
    height: 25px;
    background: #ccc;
}
/* .soso{
    display: inline-block;
    position: relative;
    top: 20px;
    width: 16px;
    height: 16px;
    border: 1px solid
} */
#home_contain>ul{
    width: 900px;
    height: 50px;
    margin: 0 auto;
}
#home_contain>ul>li{
    width: 150px;
    height: 50px;
    float: left;
    background: #ccc;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
}
#home_contain>ul>li a{
    display: inline-block;
    width: 150px;
    height: 50px;
    text-decoration: none;
}
#home_contain>ul>li .sanjiao{
    display:block;
    width:0;
    height:0;
    margin: -30px 130px;
    border-width:8px 8px 0;
    border-style:solid;
    border-color: black transparent transparent;
}
#home_contain>ul>li a:hover{
    background:blue;
    color: white;
}